.logo {
    display: block;
    align-items: center;
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}


.page-header__logo {
    color: #000000;
}

.page-footer__logo {
    color: #FFFFFF;
}

